@model TI2PFINAL.Models.Musical

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musical</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration) minutes
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Poster)*@

        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Poster)*@
            <a href="~/images/@Model.Poster" target="_blank">
                <img src="~/images/@Model.Poster" style=" height:290px; width:200px; object-fit:cover " />

            </a>
        </dd>

    </dl>

</div>
@Html.Partial("_MusicalPartial", Model.List_Soundtrack)
<div class="container" style="height:600px; overflow-y:scroll;">
    
    @foreach (var character in Model.List_Cast.ToList())
    {
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                <h4>@character.Character</h4>
                @* <img src="/images/@character.Image" style="width:200px; height:200px; object-fit:cover;" data-toggle="modal" data-target="#myModal" />*@
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h4>@character.Cast.Name</h4>
                <img src="/images/@character.Cast.Image" style="width:200px; height:200px; object-fit:cover;" data-toggle="modal" data-target="#myModal" />
            </div>
        </div>
        <hr />
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Musical }) |
    @Html.ActionLink("Back to List", "Index")
</p>
