@model TI2PFINAL.Models.Musical

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musical</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration) minutes
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Poster)*@

        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Poster)*@
            <a href="~/images/@Model.Poster" target="_blank">
                <img src="~/images/@Model.Poster" style=" height:290px; width:200px; object-fit:cover " />

            </a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Musical }) |
    @Html.ActionLink("Back to List", "Index")
</p>
