@model IEnumerable<TI2PFINAL.Models.Reviews>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Musical.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Musical.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Review }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Review }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Review })
        </td>
    </tr>
}

</table>
